{% extends "pegasus/examples/examples_base.html" %}
{% load static %}
{% block app %}
    <section class="section app-card">
      <div class="columns ">
        <div class="column is-one-quarter has-text-centered">
          <img alt="{{ framework_name }}" src="{{ framework_icon }}" style="max-height: 160px;"/>
        </div>
        <div class="column">
          <h1 class="title">{{ framework_name }} Object Lifecycle Demo</h1>
          <h2 class="subtitle">
            A single-page interactive data model and UI example.
          </h2>
          <div class="content">
            <p>
              This is an interactive data model and UI example using
              <a href="https://www.django-rest-framework.org/" target="_blank">Django Rest Framework</a> and
              <a href="{{ framework_url }}" target="_blank">{{ framework_name }}</a>.
              It demonstrates performing simple create, read, update and delete (CRUD) operations on an example
              "Employee" data model.
            </p>
          </div>
        </div>
      </div>
    </section>
    <div id="object-lifecycle-home"></div>
{% endblock %}
{% block page_js %}
    {{ department_choices|json_script:'department-choices' }}
    <script type="application/javascript">
        // initialize any page specific stuff here
        // static files that are used by the page javascript.
        var STATIC_FILES = {
            'undraw_empty': "{% static 'images/undraw/undraw_empty.svg' %}",
        };
        var EMPLOYEE_DEPARTMENT_CHOICES = JSON.parse(document.getElementById('department-choices').textContent);
    </script>
    <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
    <script src="{% url 'api_schemajs' %}"></script>
    {% block framework_bundle %}
    {% endblock %}
{% endblock %}
