{% extends "web/app/app_base.html" %}
{% load static %}
{% block app %}
<section class="section app-card">
  
  {% if active_plan_intervals|length > 1%}
    <div class="buttons has-addons is-centered">
      {% for interval in active_plan_intervals %}
        <button class="button" id="plan-selector-{{interval.interval}}">{{ interval.name }}</button>
      {% endfor %}
    </div>
    <div class="help is-size-6 has-text-centered" id="plan-help" ></div>
  {% endif %}
  <div class="columns my-2" id="plan-selector">
    {% for product in active_products %}
      <div class="column has-text-centered">
        <div class="plan{% if current_product_id == product.metadata.stripe_id %} is-selected{% endif %}"
             data-product-id="{{ product.stripe_id }}" data-plan-id="{{ product.default_plan.id }}" >
          <div class="has-text-centered">
            <div class="plan-detail">
              <p class="title is-size-3">{{ product.metadata.name }}</p>
            </div>
          </div>
          <p class="plan-tagline is-size-6">{{ product.metadata.description }}</p>
          <div class="plan-price has-text-centered my-2">
            <p><span class="price"></span><span class="interval"></span></p>
          </div>
          <div id="subscription-details-table" class="my-2">
            {% for feature in product.metadata.features %}
            <div class="subscription-detail">
              <div class="subscription-detail-label">
                {{feature.label}}
              </div>
              <div class="subscription-detail-value">
                {{feature.value}}
              </div>
            </div>
            {% endfor %}
          </div>
          {% if current_product_id < product.metadata.stripe_id %}
          <button type="submit" class="button is-primary" onclick="managePlan()">Downgrade to this plan</button>
          {% endif %}
          {% if current_product_id > product.metadata.stripe_id %}
          <button type="submit" class="button is-primary" onclick="managePlan()">Upgrade to this plan</button>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="columns" id="upgrade" style="display: none;">
    <div class="column is-three-quarters">
      <form id="subscription-form">
        {% include 'stripe/components/card_element.html' %}
        <button type="submit" id="subscribe-button" class="button is-primary">Submit</button>
        <button class="button is-outlined" id="cancel-button" onclick="Cancel()">Cancel</button>
        <div class="my-1" id="payment-details" ></div>
      </form>
    </div>
  </div>
  <button class="button is-outlined" id="back-button" onclick="Back()" style="display: block;" >Back</button>
</section>
{% endblock %}
{% block page_js %}
{{ active_products_json|json_script:'active-products' }}
{{ payment_metadata|json_script:'payment-metadata' }}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/app-bundle.js' %}"></script>

<script>
  const App = SiteJS.app;
  const Payments = App.Payments;
  const activeProducts = JSON.parse(document.getElementById('active-products').textContent);
  const paymentMetadata = JSON.parse(document.getElementById('payment-metadata').textContent);
  const monthlySelector = document.getElementById('plan-selector-month');
  const annualSelector = document.getElementById('plan-selector-year');
  const helpLabel = document.getElementById('plan-help');
  const planElements = document.getElementsByClassName('plan');
  const annualHelpText = "You're getting two months free by choosing an Annual plan!";
  const monthlyHelpText = "Upgrade to annual pricing to get two free months.";
  const defaultAnnual = '{{ default_to_annual }}' === 'True';
  const stripe = Stripe('{{ stripe_api_key }}');
  const userEmail = '{{ user.email }}';
  const createCustomerUrl = "{{ subscription_urls.create_customer }}";
  const subscriptionSuccessUrl = "{{ subscription_urls.subscription_intelgroup }}";
  // const paymentDetailsElement = document.getElementById('payment-details');
  const form = document.getElementById('subscription-form');
  const cancel = document.getElementById('cancel-button');
  const subscribeButton = document.getElementById('subscribe-button');
  const cardElement = Payments.createCardElement(stripe);
  const groupid = '{{groupid}}'
  const current_product_id = '{{current_product_id}}'
  let stripeToken = '';

  let submissionPending = false;
  const getSelectedPlanElement = function () {
    return document.querySelector('.plan.is-selected');
  };
  const handleError = function (errorMessage) {
    Payments.showOrClearError(errorMessage);
    subscribeButton.classList.remove('is-loading');
  };
  const handleSubscriptionSuccess = function () {
    submissionPending = false;
    location.href = subscriptionSuccessUrl;
  };

  const handlePaymentMethodCreated = function (result) {
    if (result.error) {
      handleError(result.error.message);
      submissionPending = false;
    } else {
      let selectedPlanElement = getSelectedPlanElement();
      let selectedPlan = selectedPlanElement.dataset.planId;
      const paymentParams = {...paymentMetadata};
      paymentParams.plan_id = selectedPlan;
      paymentParams.payment_method = result.paymentMethod.id;
      paymentParams.groupid = groupid;
      paymentParams.stripeToken = stripeToken;
      fetch(createCustomerUrl, {
        method: 'post',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': App.Cookies.get('csrftoken'),
        },
        credentials: 'same-origin',
        body: JSON.stringify(paymentParams),
      }).then(function(response) {
        return response.json();
      }).then(function(result) {
        console.log(result);
        if(Boolean(result.feeds) || Boolean(result.users)){
          helpLabel.innerHTML = `<h1 class="is-size-4">You can't downgrade your plan until you correct the features where quota is exceeded.</h1>`;
        }
        if(Boolean(result.monthyear)){
          helpLabel.innerHTML = `<h1 class="is-size-4">You can't switch from monthly plan to yearly plan!</h1>`;
        }
        if(Boolean(result.yearmonth)){
          helpLabel.innerHTML = `<h1 class="is-size-4">You can't switch from yearly plan to monthly plan!</h1>`;
        }
        if (result.error) {
          handleError(result.error.message);
          submissionPending = false;
        } else {
          const subscription = result.subscription;
          // check/handle error cases https://stripe.com/docs/billing/subscriptions/set-up-subscription#manage-sub-status
          const { latest_invoice } = subscription;
          const { payment_intent } = latest_invoice;
          if (payment_intent) {
            const { client_secret, status } = payment_intent;
            if (status === 'requires_action') {
              // trigger 3D-secure workflow
              stripe.confirmCardPayment(client_secret).then(function(result) {
                if (result.error) {
                  // The card was declined (i.e. insufficient funds, card has expired, etc)
                  handleError(result.error.message);
                  submissionPending = false;
                } else {
                  // Show a success message to your customer
                  handleSubscriptionSuccess();
                }
              });
            } else {
              // No additional information was needed
              // Show a success message to your customer
              handleSubscriptionSuccess();
            }
          } else if (subscription.pending_setup_intent) {
            const { client_secret, status } = subscription.pending_setup_intent;
            if (status === 'requires_action') {
              stripe.confirmCardSetup(client_secret).then(function (result) {
                if (result.error) {
                  // The card was declined (i.e. insufficient funds, card has expired, etc)
                  // todo: in this state should the trial be canceled?
                  handleError(result.error.message);
                  submissionPending = false;
                } else {
                  // Show a success message to your customer
                  handleSubscriptionSuccess();
                }
              });
            }
          } else {
            handleSubscriptionSuccess();
          }
        }
      }).catch(function (error) {
        handleError("Sorry, there was an unexpected error processing your payment. Please contact us for support.");
        submissionPending = false;
      });
    }
  };

  const updatePlans = function (isAnnual) {
    for (let i = 0; i < planElements.length; i++) {
      let planElt = planElements[i];
      let productId = planElt.dataset.productId;
      let planMetadata = (
        isAnnual ? activeProducts[productId]['annual_plan'] : activeProducts[productId]['monthly_plan']
      );
      // set data attribute
      planElt.dataset.planId = planMetadata.stripe_id;
      planElt.dataset.interval = isAnnual ? 'year' : 'month';
      planElt.dataset.paymentAmount = planMetadata.payment_amount;
      let priceElt = planElt.querySelector('.price');
      priceElt.textContent = planMetadata.monthly_amount;
      let intervalElt = planElt.querySelector('.interval');
      intervalElt.textContent = '/ month';  // todo: support annual display pricing
    }
  };
  // const updatePaymentDetails = function () {
  //   let selectedPlan = getSelectedPlanElement();
  //   if (selectedPlan) {
    //     paymentDetailsElement.innerText = "Your card will be charged " + selectedPlan.dataset.paymentAmount +
    //       " for your first " + selectedPlan.dataset.interval + ".";
    //   } else {
    //     paymentDetailsElement.innerText = "Select a plan to continue.";
    //   }
    // };
    const selectPeriod = function (isAnnual) {
      if (isAnnual) {
        if (annualSelector) {
          annualSelector.classList.add('is-selected', 'is-primary');
          monthlySelector.classList.remove('is-selected', 'is-primary');
          // helpLabel.innerText = annualHelpText;
          helpLabel.classList.add('is-danger');
        // helpLabel.classList.remove('is-danger');
      }
      updatePlans(isAnnual);
    } else {
      if (monthlySelector) {
        annualSelector.classList.remove('is-selected', 'is-primary');
        monthlySelector.classList.add('is-selected', 'is-primary');
        // helpLabel.innerText = monthlyHelpText;
        helpLabel.classList.add('is-danger');
        // helpLabel.classList.remove('is-primary');
      }
      updatePlans(isAnnual);
    }
    // updatePaymentDetails();
  };
  selectPeriod(defaultAnnual);
  if (annualSelector) {
    annualSelector.addEventListener('click', function (event) {
      selectPeriod(true);
    });
  }
  if (monthlySelector) {
    monthlySelector.addEventListener('click', function (event) {
      selectPeriod(false);
    });
  }
  const selectPlan = function(plan) {
    // if already selected there's nothing to do
    if (!plan.classList.contains('is-selected')) {
      plan.classList.add('is-selected');
      for (let i = 0; i < planElements.length; i++) {
        if (planElements[i] !== plan) {
          planElements[i].classList.remove('is-selected');
        }
      }
    }
    // updatePaymentDetails();
  };
  for (let i = 0; i < planElements.length; i++) {
    planElements[i].addEventListener('click', function(event) {
      let plan = event.target.closest('.plan');
      selectPlan(plan);
    });
  }
  
  const managePlan = function(){
    document.getElementById('upgrade').style.display="block";
    document.getElementById('back-button').style.display="none";
  };
  const Cancel = function(){
    document.getElementById('upgrade').style.display="none";
    document.getElementById('back-button').style.display="block";
  };
  const Back = function(){
    if(document.referrer.split('/')[3]=='home')
      window.location.href=document.referrer;
    else history.go(-2);
  }

  form.addEventListener('submit', function(event){
    event.preventDefault();
    let selectedPlanElement = getSelectedPlanElement()
    if(selectedPlanElement.dataset.productId > current_product_id)
      if(confirm("If you downgrade, you will lose custom mapping functionality and lose API access. Are you sure to downgrade?"))
        if (getSelectedPlanElement() && !submissionPending) {
          submissionPending = true;
          subscribeButton.classList.add('is-loading');
          stripe.createPaymentMethod({
            type: 'card',
            card: cardElement,
            billing_details: {
              email: userEmail,
            },
          }).then(handlePaymentMethodCreated);
        }
    if(selectedPlanElement.dataset.productId < current_product_id)
      if (getSelectedPlanElement() && !submissionPending) {
        submissionPending = true;
        subscribeButton.classList.add('is-loading');
        stripe.createToken(cardElement).then(function (result) {
          if (result.error) {
            // Inform the customer that there was an error.
            Payments.showOrClearError(result.error.message);
          } else {
            // Send the token to your server.
            stripeToken = result.token.id;
            console.log(stripeToken);
          }
        }).then(
          stripe.createPaymentMethod({
            type: 'card',
            card: cardElement,
            billing_details: {
              email: userEmail,
            },
          }).then(handlePaymentMethodCreated)

        )
      }
  });

  cancel.addEventListener('click', function(event){
    event.preventDefault();
  })
</script>
{% endblock %}