@charset "UTF-8";
/*! bulma.io v0.9.1 | MIT License | github.com/jgthms/bulma */
/* Bulma Utilities */
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

  .delete {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 0px !important;
    max-width: 0px !important;
    min-height: 0px !important;
    min-width: 5px !important;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px; }
  .delete::before, .delete::after {
    background-color: white;
    content: "";
    display: contents !important;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center; }
  .sizer {
    display: none;
  }
  .semisection {
    padding: 1rem 1.5rem; }
    .react-tags {
      position: relative;
      padding: 6px 0 0 6px;
      border: 1px solid #D1D1D1;
      border-radius: 1px;
      z-index: 1;
    
      /* shared font styles */
      font-size: 1em;
      line-height: 1.2;
    
      /* clicking anywhere will focus the input */
      cursor: text;
    }
    
    .react-tags.is-focused {
      border-color: #B1B1B1;
    }
    
    .react-tags__selected {
      display: inline;
    }
    
    .react-tags__selected-tag {
      display: inline-block;
      box-sizing: border-box;
      margin: 0 6px 6px 0;
      padding: 6px 8px;
      border: 1px solid #D1D1D1;
      border-radius: 2px;
      background: #F1F1F1;
    
      /* match the font styles */
      font-size: inherit;
      line-height: inherit;
    }
    
    .react-tags__selected-tag:after {
      content: '\2715';
      color: #AAA;
      margin-left: 8px;
    }
    
    .react-tags__selected-tag:hover,
    .react-tags__selected-tag:focus {
      border-color: #B1B1B1;
    }
    
    .react-tags__search {
      display: inline-block;
    
      /* match tag layout */
      padding: 7px 2px;
      margin-bottom: 6px;
    
      /* prevent autoresize overflowing the container */
      max-width: 100%;
    }
    
    @media screen and (min-width: 30em) {
    
      .react-tags__search {
        /* this will become the offsetParent for suggestions */
        position: relative;
      }
    
    }
    
    .react-tags__search-input {
      /* prevent autoresize overflowing the container */
      max-width: 100%;
    
      /* remove styles and layout from this element */
      margin: 0;
      padding: 0;
      border: 0;
      outline: none;
    
      /* match the font styles */
      font-size: inherit;
      line-height: inherit;
    }
    
    .react-tags__search-input::-ms-clear {
      display: none;
    }
    
    .react-tags__suggestions {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
    
    @media screen and (min-width: 30em) {
    
      .react-tags__suggestions {
        width: 240px;
      }
    
    }
    
    .react-tags__suggestions ul {
      margin: 4px -1px;
      padding: 0;
      list-style: none;
      background: white;
      border: 1px solid #D1D1D1;
      border-radius: 2px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
    
    .react-tags__suggestions li {
      border-bottom: 1px solid #ddd;
      padding: 6px 8px;
    }
    
    .react-tags__suggestions li mark {
      text-decoration: underline;
      background: none;
      font-weight: 600;
    }
    
    .react-tags__suggestions li:hover {
      cursor: pointer;
      background: #eee;
    }
    
    .react-tags__suggestions li.is-active {
      background: #b7cfe0;
    }
    
    .react-tags__suggestions li.is-disabled {
      opacity: 0.5;
      cursor: auto;
    }
/* inspired by: https://css-tricks.com/responsive-data-tables/ */
.responsiveTable {
  width: 100%;
}

.responsiveTable td .tdBefore {
  display: none;
}

@media screen and (max-width: 40em) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */

  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
  }

  .responsiveTable tbody tr {
    border: 1px solid #000;
    padding: .25em;
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none !important;
    position: relative;
    padding-left: calc(50% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }
  
}
