{% extends "web/base.html" %}
{% load static %}
{% block body %}
<section class="section container">
    <div class="columns columns-reversed">
        <div class="column">
            <img src="{% static 'images/undraw/undraw_outer_space.svg' %}" alt="Fly Away!">
        </div>
        <div id="tagline" class="column">
            <p class="buttons">
                <a class="button is-primary is-large" href="{% url 'account_signup' %}">
                    Create account
                </a>
                <a class="button is-primary is-large is-outlined" href="{% url 'account_login' %}">
                    Sign in
                </a>
            </p>
        </div>
    </div>
</section>
{% endblock %}
