a {
    cursor: pointer;
    color: black;
}
button.btn {
    font-weight: 600;
}

.ma-l-auto {
    margin-left: auto;
}
.ma-r-auto {
    margin-right: auto;
}

.dp-flex {
    display: flex;
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-items: center;
}
.ai-flexend {
    align-items: flex-end;
}
.fd-column {
    flex-direction: column;
}


.fs-40 {
    font-size: 40px;
}
.fs-25 {
    font-size: 25px;
}
.fs-18 {
    font-size: 18px;
}
.fw-600 {
    font-weight: 600;
}
.fw-bold {
    font-weight: bold;
}

.td-underline {
    text-decoration: underline;
}

.bg-color-header {
    background-color: #eeeeee;
}
.bg-color-pink {
    background-color: #ff00ff;
}
.bg-color-green {
    background-color: #92c47d;
}
.bg-color-blue {
    background-color: #c8daf8;
}
.bg-color-blue-1 {
    background-color: #00ffff;
}
.bg-color-yellow {
    background-color: #fff2cc;
}
.bg-color-purple {
    background-color: #9900ff;
}
.bg-color-brown-0 {
    background-color: #ea9999;
}
.bg-color-brown-1 {
    background-color: #f9ca9c;
}
.bg-color-brown-2 {
    background-color: #b45f05;
}


.border-custom {
    border: 1px solid #BDBDBD;
    border-radius: 20px;
}

.visibility-hidden {
    visibility: hidden;
}