<aside class="menu">
  <p class="menu-label is-hidden-tablet-only">
    Pegasus
  </p>
  <ul class="menu-list">
      <li>
          <a href="{% url 'pegasus_examples:examples_home' %}" {% if active_tab == 'home' %}class="is-active"{% endif %}>
              <span class="icon"><i class="fa fa-home"></i></span><span class="is-hidden-tablet-only">Examples Home</span>
          </a>
      </li>
      <li>
          <a href="{% url 'pegasus_examples:payments' %}" {% if active_tab == 'payments' %}class="is-active"{% endif %}>
              <span class="icon"><i class="fa fa-credit-card"></i></span><span class="is-hidden-tablet-only">Payments</span>
          </a>
      </li>
      <li>
          <a href="{% url 'pegasus_examples:react_object_lifecycle' %}" {% if active_tab == 'react_object_lifecycle' %}class="is-active"{% endif %}>
              <span class="icon"><i class="fa fa-edit"></i></span><span class="is-hidden-tablet-only">React Object Demo</span>
          </a>
      </li>
      <li>
          <a href="{% url 'pegasus_examples:vue_object_lifecycle' %}" {% if active_tab == 'vue_object_lifecycle' %}class="is-active"{% endif %}>
              <span class="icon"><i class="fa fa-edit"></i></span><span class="is-hidden-tablet-only">Vue Object Demo</span>
          </a>
      </li>
      <li>
          <a href="{% url 'pegasus_examples:tasks' %}" {% if active_tab == 'tasks' %}class="is-active"{% endif %}>
              <span class="icon"><i class="fa fa-tasks"></i></span><span class="is-hidden-tablet-only">Background Tasks</span>
          </a>
      </li>
      <li>
          <a href="{% url 'pegasus_examples:charts' %}" {% if active_tab == 'charts' %}class="is-active"{% endif %}>
              <span class="icon"><i class="fa fa-bar-chart-o"></i></span><span class="is-hidden-tablet-only">Charts</span>
          </a>
      </li>
      <li>
          <a href="{% url 'pegasus_examples:landing_page' %}" >
              <span class="icon"><i class="fa fa-picture-o"></i></span><span class="is-hidden-tablet-only">Landing Page</span>
          </a>
      </li>
      <li>
          <a href="{% url 'pegasus_examples:pricing_page' %}" >
              <span class="icon"><i class="fa fa-external-link"></i></span><span class="is-hidden-tablet-only">Pricing Page</span>
          </a>
      </li>
  </ul>
</aside>
