{% extends "web/base.html" %}
{% load static %}
{% block body %}
<section class="section container">
    <div class="columns columns-reversed">
        <div class="column">
            <img src="{% static 'images/undraw/undraw_alert.svg' %}" alt="Uh-Oh">
        </div>
        <div id="tagline" class="column">
            <h1 class="title is-size-2">Shucks. That's an error.</h1>
            <h2 class="subtitle is-size-4">
                Please try again, and if you continue to get this message, contact support.
            </h2>
        </div>
    </div>
</section>
{% endblock%}
