attrs
Django
django-allauth
{% if cookiecutter.database == 'postgres' %}psycopg2-binary{% endif %}
djangorestframework
coreapi  # DRF schemas and docs
stripe
dj-stripe
django-anymail[mailgun]  # email services
celery-progress
celery
celery[redis]
