<pre id="feeds"></pre>
<script>
    let feeds = "{{feeds}}";
    feeds = feeds.replaceAll("&quot;", '"')
    console.log(feeds)
    function strToObj(str){
        var obj = {};
        if(str&&typeof str ==='string'){
            var objStr = str.match(/\{(.)+\}/g);
            eval("obj ="+objStr);
        }
        return obj
    }
    feeds = strToObj(feeds);
    console.log(feeds);
    if(feeds == null)
        document.getElementById("feeds").textContent = "{{feeds}}"
    else
        document.getElementById("feeds").textContent = JSON.stringify(feeds, null, 2)
</script>