<strong>From:</strong><span>{{from}}</span><br/>
<strong>Name:</strong><span>Sherlock at Cyobstract</span><br/>
<strong>Reply-to:</strong><span>{{reply}}com</span><br/>
<strong>Title:</strong><span>You've been invited to join the {{groupname}} Intel Group on Cyobstract</span><br/>
<p>Hello!</p>
<p>{{reply}} has invited to join the {{groupname}} Intel Group on Cyobstract as a Member.</p>
<p>By accepting this invitation, you’ll have access to all intelligence curated by the other members of the {{groupname}} Intel Group.</p>
<p>To confirm or reject this invitation, click the link below.</p>
<p><a href={{site}}>{{domain}}</a></p>
<p>If you have any questions, simply reply to this email to get in contact with a real person on the team.</p>
<p>Sherlock and the Cyobstract Team</p>